/*.grid-img {
    background-image: url('demo.jpg');
}*/
.grid-container {
    display : grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
}
.grid-item {
    /*padding: 50px;*/
    text-align : center;
    font-size: 300%;
}
.grid-item-available {
    background-color: orange;
}
.grid-item-available:hover {
    cursor: grab;
    color:red;
}
